ul {
	list-style-type:none;
}

ul li {
	display: inline-block;
	height: 35px;
	padding: 4px;
}

ul>li>img {
	vertical-align: middle;
}

div.header {
	position: relative;
	float: right;
	display: block;
	top: -15px;
	padding-right: 20px;
}

#photo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

#logo {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 0 20px 0;
	clear: both;
}

input#search_content {
    background-image: url(img/voice.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    margin: auto;
    width: 500px;
    height: 25px;
}

.submit {
	text-align: center;
}


.footer {
	background-color: #EDEDED;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.ad {
	position: relative;
	float: left;
	top: -10px;
	left: -20px;
}

.setting {
	position: relative;
	float: right;
	top: -10px;
	right: 20px;
}