ul {
	list-style-type:none;
}

ul li {
	display: inline-block;
	height: 35px;
	padding: 4px;
}

ul>li>img {
	vertical-align: middle;
}

a:link {
	text-decoration: none;
	font-family: Helvetica;
	font-size: 14px;
	color: #5C5C5C;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: #5C5C5C;
}

div.header {
	position: relative;
	float: right;
	display: block;
	top: -15px;
	padding-right: 20px;
}

#apps, #notice, #share {
	opacity: 0.5;
}

#apps:hover, #notice:hover, #share:hover {
	opacity: 1;
}

#photo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

#logo {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 0 20px 0;
	clear: both;
}

input#search_content {
    background-image: url(img/voice.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    margin: auto;
    width: 500px;
    height: 25px;
    border: solid 1px #C9C9C9;
    padding-left: 10px;
}

input#search_content:hover {
	outline: solid 1px #CCCCCC;
}

input#search_content:focus {
	outline: solid 1px #0066FF;
}

.submit {
	text-align: center;
}

input[type=submit] {
	height: 30px;
	color: #5C5C5C;
	background-color: #EEEEEE;
	border: solid 1px #C9C9C9;
	font-weight: bold;
	border-radius: 2px;
}

input[type=submit]:hover {
	box-shadow: 0 1px 1px #888888;
}

.footer {
	background-color: #EDEDED;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.ad {
	position: relative;
	float: left;
	top: -10px;
	left: -20px;
}

.setting {
	position: relative;
	float: right;
	top: -10px;
	right: 20px;
}